---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth/request_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_callback="http%3A%2F%2F127.0.0.1%3A64862%2Fusers%2Fauth%2Ftwitter%2Fcallback",
        oauth_consumer_key="cVzRzqzE6t922xd6cf22LnBsH", oauth_nonce="8ZknfsAei0kFGE2hKHOFrGjocKCrSAWwU9ilV1cKQw",
        oauth_signature="4PAba8J5KFZFzR7JnjGFUyLgDT8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1454709189", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Last-Modified:
      - Fri, 05 Feb 2016 21:52:59 GMT
      Ml:
      - S
      Status:
      - 200 OK
      X-Connection-Hash:
      - 7682ef9a26477a297bd31cb9c9a62171
      X-Response-Time:
      - '471'
      X-Transaction:
      - ae6c19be972d474c
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: oauth_token=di8xWwAAAAAAj_0eAAABUrNsgs0&oauth_token_secret=PY71Pufo2QbEGXIW5Bofq5alee9Pxg9N&oauth_callback_confirmed=true
  recorded_at: Fri, 05 Feb 2016 21:53:09 GMT
- request:
    method: post
    uri: https://api.twitter.com/oauth/access_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="cVzRzqzE6t922xd6cf22LnBsH",
        oauth_nonce="L7ATir1zVkBYdvEON5o4zH1rlmdcEjPbC4t9eQwtkiM", oauth_signature="AbtY4jUQxQR%2BXh%2FuEE8L31H%2BNjg%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1454709192", oauth_token="di8xWwAAAAAAj_0eAAABUrNsgs0",
        oauth_verifier="sUDzKSb7qJ8Hc37CK8dcOemvZC903PG2", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Last-Modified:
      - Fri, 05 Feb 2016 21:53:02 GMT
      Ml:
      - S
      Status:
      - 200 OK
      X-Connection-Hash:
      - b1cfd94bb5d2f1f339042b6201389506
      X-Response-Time:
      - '696'
      X-Transaction:
      - 3063642e10ea2453
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: oauth_token=4858976945-N5VBXygPgkM1JptmpJ7gHQ8kEQ9oDYBSeDhYNE4&oauth_token_secret=eVskX8h6keNV4Wz0PyTuOQ7SoJsYltDuaeL1oJFWAzKYv&user_id=4858976945&screen_name=NadyaPeschanska&x_auth_expires=0
  recorded_at: Fri, 05 Feb 2016 21:53:13 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?include_email=true&include_entities=false&skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="cVzRzqzE6t922xd6cf22LnBsH", oauth_nonce="9w2T5kyN6FDtCyxtkMfIgsprWTfVeGC6BWr3Sm8",
        oauth_signature="9lMqPg64kbiJ4FgmfXutmxeRoLM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1454709193", oauth_token="4858976945-N5VBXygPgkM1JptmpJ7gHQ8kEQ9oDYBSeDhYNE4",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 05 Feb 2016 21:53:02 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 6315fc265b7c1161c6b479ce65677369
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1454709959'
      X-Response-Time:
      - '180'
      X-Transaction:
      - 96b09989954d9d43
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":4858976945,"id_str":"4858976945","name":"Nadiia","screen_name":"NadyaPeschanska","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":0,"listed_count":0,"created_at":"Fri
        Jan 29 04:25:47 +0000 2016","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":0,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_4_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_4_normal.png","profile_link_color":"2B7BB9","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Fri, 05 Feb 2016 21:53:13 GMT
recorded_with: VCR 3.0.1
