/.bundle
/log/*
chromedriver.log
/tmp
.sass-cache/
*sw?
.ruby-version
.ruby-gemset
tmp/**/*
public/stylesheets/*
public/system/*
config/database.yml
uploads/*
.byebug_history

# Ignore application configuration
/config/application.yml
