/.bundle
/log/*
chromedriver.log
/tmp
.sass-cache/
*sw?
.ruby-version
.ruby-gemset
tmp/**/*
public/stylesheets/*
public/system/*
public/uploads/*
config/database.yml
uploads/*
vendor/assets/bower_components
.byebug_history
coverage
rails_best_practices_output.html

# Ignore application configuration
/config/application.yml
