.wow.fadeInUp{"data-wow-delay" => "0.9s", "data-wow-offset" => "0"}
  %form.form-inline
    - if current_user
      .form-group
        = link_to "Transactions", transactions_path, class: "btn btn-primary btn-lg btn-blue"
      .form-group
        = link_to "View Profile", edit_user_registration_path, class: "btn btn-primary btn-lg btn-white"
    - else
      .form-group
        = link_to "Sign In", new_user_session_path, class: "btn btn-primary btn-lg btn-blue"
      .form-group
        = link_to "Register", new_user_registration_path, class: "btn btn-primary btn-lg btn-white"
