default: &default
  adapter: postgresql
  username: postgres
  password: root
  encoding: utf8
  host: localhost

development:
  database: budget_development
  <<: *default

test:
  database: budget_test
  <<: *default

production:
  <<: *default
  database: budget_production
