= search_form_for @q, class: "navbar-form navbar-left" do |f|
  .form-group
    = f.text_field :category_name_or_description_cont, class: 'form-control', placeholder: "Search"
    = f.submit "Submit", class: 'btn btn-default'
